In [1]:
import pandas as pd
import numpy as np

In [2]:
PATH = 'D:/course ML/hm1/athlete_events.csv'
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [5]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
ID        271116 non-null int64
Name      271116 non-null object
Sex       271116 non-null object
Age       261642 non-null float64
Height    210945 non-null float64
Weight    208241 non-null float64
Team      271116 non-null object
NOC       271116 non-null object
Games     271116 non-null object
Year      271116 non-null int64
Season    271116 non-null object
City      271116 non-null object
Sport     271116 non-null object
Event     271116 non-null object
Medal     39783 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB
None

#### 1. How old were the youngest male and female participants of the 1996 Olympics?

In [52]:
data[(data['Year'] == 1996) & (data['Sex'] == 'M')]['Age'].min()

14.0

In [51]:
data[(data['Year'] == 1996) & (data['Sex'] == 'F')]['Age'].min()

12.0

#### 2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.

In [33]:
data[(data['Year'] == 2000) & (data['Sex'] == 'M') & (data['Sport'] == 'Gymnastics')].drop_duplicates(subset =
'Name').groupby(['Sex'])['Sport'].value_counts(normalize = False)

Sex  Sport
M    Gymnastics    97
Name: Sport, dtype: int64

In [34]:
data[(data['Year'] == 2000) & (data['Sex'] == 'M')].drop_duplicates(subset =
'Name').Sex.value_counts(normalize = False)

M    6576
Name: Sex, dtype: int64

In [25]:
answer = 97*100/6575
round(answer,1)

1.5

#### 3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.

In [84]:
data[(data['Year'] == 2000) & (data['Sport'] == 'Basketball') & (data['Sex'] == 
'F')].groupby('Sport')['Height'].agg({'mean': 'mean', 'std': 'std'}).round(1)

D:\program\Anaconda\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version

             mean  std
Sport
Basketball  182.4  9.1

#### 4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?

In [85]:
data[data['Year'] == 2002]['Weight'].max()

123.0

In [89]:
data[data['Year'] == 2002].sort_values(by = 'Weight', ascending = False).head(2)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
99154,50171,Emmanuel Hostache,M,26.0,190.0,123.0,France,FRA,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Two,NaN
129595,65246,Kevin Kuske,M,23.0,196.0,116.0,Germany-2,GER,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,Gold

##### из таблицы видно, что человек с самым большим весом занимается "Bobsleigh"

#### 5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?

In [106]:
data[data['Name'] == 'Pawe Abratkiewicz']

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
997,562,Pawe Abratkiewicz,M,21.0,183.0,84.0,Poland,POL,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Men's 500 metres,NaN
998,562,Pawe Abratkiewicz,M,21.0,183.0,84.0,Poland,POL,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Men's 1,000 metres",NaN
999,562,Pawe Abratkiewicz,M,27.0,183.0,84.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Speed Skating,Speed Skating Men's 500 metres,NaN
1000,562,Pawe Abratkiewicz,M,27.0,183.0,84.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Speed Skating,"Speed Skating Men's 1,000 metres",NaN
1001,562,Pawe Abratkiewicz,M,31.0,183.0,84.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,Speed Skating Men's 500 metres,NaN
1002,562,Pawe Abratkiewicz,M,31.0,183.0,84.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,"Speed Skating Men's 1,000 metres",NaN

In [107]:
data[data['Name'] == 'Pawe Abratkiewicz']['Age'].value_counts()

31.0    2
27.0    2
21.0    2
Name: Age, dtype: int64

### 3

#### 6. How many silver medals in tennis did Australia win at the 2000 Olympics?

In [111]:
data[(data['Year'] == 2000) & (data['Team'] == 'Australia') 
& (data['Sport'] == 'Tennis')].groupby(['Medal'])['Sport'].value_counts(normalize = False)

Medal   Sport
Silver  Tennis    2
Name: Sport, dtype: int64

#### 7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in Medal column.

In [151]:
data[(data['Medal'] != 'NaN') & (data['Year'] == 2016) &
(data['Team'] == 'Switzerland')].groupby(['Team'])['Medal'].value_counts(normalize = False)

Team         Medal
Switzerland  Gold      6
             Silver    3
             Bronze    2
Name: Medal, dtype: int64

In [146]:
data[(data['Medal'] != 'NaN') & (data['Year'] == 2016) &
(data['Team'] == 'Serbia')].groupby(['Team'])['Medal'].value_counts(normalize = False)

Team    Medal
Serbia  Silver    27
        Gold      14
        Bronze    13
Name: Medal, dtype: int64

In [150]:
Switzerland = 6+3+2
Serbia = 27+14+13
print(Switzerland,Serbia)

11 54

yes

#### 8. What age category did the fewest and the most participants of the 2014 Olympics belong to?

##### [45-55] and [25-35) correspondingly
##### [45-55] and [15-25) correspondingly
##### [35-45] and [25-35) correspondingly
##### [45-55] and [35-45) correspondingly

In [160]:
data['Age'].max()

97.0

In [161]:
data['Age'].min()

10.0

In [4]:
data['AgeCategory'] = pd.cut(data['Age'], range(5,100,10),False)
data[data['Year'] == 2014]['AgeCategory'].value_counts(True)

[25, 35)    0.530362
[15, 25)    0.414435
[35, 45)    0.054181
[45, 55)    0.000818
[55, 65)    0.000204
[85, 95)    0.000000
[75, 85)    0.000000
[65, 75)    0.000000
[5, 15)     0.000000
Name: AgeCategory, dtype: float64

##### [45, 55) и [25, 35)

#### 9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?

In [173]:
data[(data['Season'] == 'Summer') & (data['City'] == 'Lake Placid')]

Empty DataFrame
Columns: [ID, Name, Sex, Age, Height, Weight, Team, NOC, Games, Year, Season, City, Sport, Event, Medal, AgeCategory]
Index: []

In [175]:
data[(data['Season'] == 'Winter') & (data['City'] == 'Sankt Moritz')].head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,AgeCategory
935,529,Karl Gustaf Emanuel Abrahamsson,M,31.0,NaN,NaN,Sweden,SWE,1928 Winter,1928,Winter,Sankt Moritz,Ice Hockey,Ice Hockey Men's Ice Hockey,Silver,"[25, 35)"
1187,665,Gilbert Achard-Picard,M,29.0,NaN,NaN,France-2,FRA,1948 Winter,1948,Winter,Sankt Moritz,Bobsleigh,Bobsleigh Men's Four,NaN,"[25, 35)"
1439,802,Tadeusz Ralf Adamowski,M,26.0,177.0,70.0,Poland,POL,1928 Winter,1928,Winter,Sankt Moritz,Ice Hockey,Ice Hockey Men's Ice Hockey,NaN,"[25, 35)"
1454,810,Bridget Shirley Adams (-Bengough),F,19.0,NaN,NaN,Great Britain,GBR,1948 Winter,1948,Winter,Sankt Moritz,Figure Skating,Figure Skating Women's Singles,NaN,"[15, 25)"
2707,1508,Enrico Airoldi,M,24.0,NaN,NaN,Italy-2,ITA,1948 Winter,1948,Winter,Sankt Moritz,Bobsleigh,Bobsleigh Men's Four,NaN,"[15, 25)"

##### no, yes

#### 10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?

In [182]:
data[data['Year'] == 2016].Sport.describe(include=['object'])

count         13688
unique           34
top       Athletics
freq           2508
Name: Sport, dtype: object

In [189]:
data[data['Year'] == 1995].Sport.describe(include=['object'])

count     0
unique    0
Name: Sport, dtype: int64

34 вида